@page "/order/create"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Nová objednávka</h3>
<Form ButtonText="Vytvořit objednávku" order="@order"
      OnValidSubmit="@CreateOrder"
      OnValidCancel="@Cancel"
      />
@code {
    Order order = new Order();
    async Task CreateOrder()
    {
        await http.PostAsJsonAsync("api/order", order);
        uriHelper.NavigateTo("order");
    }

    void Cancel()
    {
        uriHelper.NavigateTo("order");
    }
}