@page "/menuitemcategory/create"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Nová kategorie menu</h3>
<Form ButtonText="Vytvořit kategorii menu" mic="@mic"
      OnValidSubmit="@CreateMenuItemCategory"
      OnValidCancel="@Cancel"
      />
@code {
    MenuItemCategory mic = new MenuItemCategory();
    async Task CreateMenuItemCategory()
    {
        await http.PostAsJsonAsync("api/menuitemcategory", mic);
        uriHelper.NavigateTo("menuitemcategory");
    }

    void Cancel()
    {
        uriHelper.NavigateTo("menuitemcategory");
    }
}