@page "/menuitemcategory/edit/{menuItemCategoryId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Změna kategorie položky menu</h3>
<Form ButtonText="Změnit kategorii položky menu" mic="@mic"
      OnValidSubmit="@EditMenuItemCategory"
      OnValidCancel="@Cancel" />
@code {
    [Parameter] public int menuItemCategoryId { get; set; }
    MenuItemCategory mic = new MenuItemCategory();

    protected async override Task OnParametersSetAsync()
    {
        mic = await http.GetFromJsonAsync<MenuItemCategory>($"api/menuitemcategory/{menuItemCategoryId}");
    }
    async Task EditMenuItemCategory()
    {
        await http.PutAsJsonAsync("api/menuitemcategory", mic);
        uriHelper.NavigateTo("menuitemcategory");
    }

    void Cancel()
    {
        uriHelper.NavigateTo("menuitemcategory");
    }
}