@inject HttpClient client
<EditForm Model="@mic" OnValidSubmit="@OnValidSubmit">
    <div>
        <MudTextField Label="Název" @bind-Value="@mic.Name" />
    </div>
    <MudButton ButtonType="ButtonType.Submit">@ButtonText</MudButton>
    <MudButton OnClick="Cancel">Storno</MudButton>
</EditForm>

@code {
    [Parameter] public MenuItemCategory mic { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Uložit";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback OnValidCancel { get; set; }
    [Parameter] public List<MenuType> menuTypes { get; set; } = new List<MenuType>();

    void Cancel()
    {
        OnValidCancel.InvokeAsync();
    }
}
