@page "/menucategory/edit/{menuCategoryId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Změna kategorie menu</h3>
<Form ButtonText="Změnit kategorii menu" mc="@mc" menuTypes="@menuTypes"
      OnValidSubmit="@EditMenuCategory"
      OnValidCancel="@Cancel" />
@code {
    [Parameter] public int menuCategoryId { get; set; }
    MenuCategory mc = new MenuCategory();
    private List<MenuType> menuTypes { get; set; } = new List<MenuType>();

    protected async override Task OnParametersSetAsync()
    {
        mc = await http.GetFromJsonAsync<MenuCategory>($"api/menucategory/{menuCategoryId}");
        var mt = await http.GetFromJsonAsync<MenuType[]>("api/menutype");
        menuTypes = mt.ToList();
    }
    async Task EditMenuCategory()
    {
        await http.PutAsJsonAsync("api/menucategory", mc);
        uriHelper.NavigateTo("menucategory");
    }

    void Cancel()
    {
        uriHelper.NavigateTo("menucategory");
    }
}