@page "/deliveryroute/edit/{deliveryrouteId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<h3>Změnit</h3>
<Form ButtonText="Update" bp="bp"
      OnValidSubmit="@EditDeliveryRoute" />
@code {
    [Parameter] public int deliveryRouteId { get; set; }
    DeliveryRoute dr = new DeliveryRoute();
    protected async override Task OnParametersSetAsync()
    {
        dr = await http.GetFromJsonAsync<DeliveryRoute>($"api/deliveryroute/{deliveryRouteId}");
    }
    async Task EditDeliveryRoute()
    {
        await http.PutAsJsonAsync("api/deliveryroute", dr);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("deliveryroute");
    }
}