@page "/businesspartner/edit/{businesspartnerId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<h3>Změnit</h3>
<Form ButtonText="Update" bp="bp" deliveryRoutes="@deliveryRoutes"
      OnValidSubmit="@EditBusinessPartner"
      OnValidCancel="@Cancel"
      />
@code {
    [Parameter] public int businesspartnerId { get; set; }
    BusinessPartner bp = new BusinessPartner();
    private List<DeliveryRoute> deliveryRoutes { get; set; } = new List<DeliveryRoute>();

    protected async override Task OnParametersSetAsync()
    {
        bp = await http.GetFromJsonAsync<BusinessPartner>($"api/businesspartner/{businesspartnerId}");
        var dr = await http.GetFromJsonAsync<DeliveryRoute[]>("api/deliveryroute");
        deliveryRoutes = dr.ToList();
    }
    async Task EditBusinessPartner()
    {
        await http.PutAsJsonAsync("api/businesspartner", bp);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("businesspartner");
    }

    void Cancel()
    {
        uriHelper.NavigateTo("businesspartner");
    }
}