@page "/vat/create"
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Nová sazba DPH</h3>

<Form ButtonText="Vytvořit sazbu DPH" vat="@vat"
      OnValidSubmit="@CreateVat"
      OnValidCancel="@Cancel" />
<form></form>
@code {
    Vat vat = new Vat();
    async Task CreateVat()
    {
        await http.PostAsJsonAsync("api/vat", vat);
        uriHelper.NavigateTo("vat");
    }    

    void Cancel()
    {
        uriHelper.NavigateTo("vat");
    }
}